<include file='public/header' />
    <!--main-->
    <div class="h_pos mt20">
          <div class="wp">
                    <h4 class="i_tit tc">{my:get_sort_zd(45)}</h4>
               <div class="wrap">
                    <ul class="hposul cle">
                         <volist name=":get_news(45,46,0,0,'*',10000)" id="v">
                              <li><a href="{my$v.linkurl}" target="_blank"><img src="{my$v.img1}" alt=""  class="tp"></a></li>
                         </volist>
                    </ul>
               </div>
          </div>
     </div>
    <!--i_main end-->
<include file='public/footer' />