<include file="public/header" />

<div class="layui-layout layui-layout-admin">
	<include file="public/left" />

	<div class="layui-body">
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
		<ul class="layui-tab-title">
			<li class="layui-this"><a href="{my:U('Forms/Index')}"><?php echo get_forms_zd(I('request.typeid','title'))?>表管理</a></li>
			<li><a href="{my:U(CONTROLLER_NAME.'/FieldAdd',"typeid=".I('request.typeid')."")}">字段添加</a></li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<table class="layui-table">
					<thead>
					<tr>
						<th>序号</th>
						<th>标题</th>
						<th>名称</th>
						<th>提示</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<volist name="list" id="v">
						<tr>
							<td>{my$i}</td>
							<td>{my$v.title}</td>
							<td>{my$v.Field}</td>
							<td>{my$v.tip}</td>
							<td>
								<?php if($v['Field']<>"id"&&$v['Field']<>"ip"&&$v['Field']<>"status"&&$v['Field']<>"sendtime"){?>
								<a href="{my:U(CONTROLLER_NAME.'/FieldAdd',"act=up&zd=".$v['Field']."&title=".$v['title']."&tip=".$v['tip']."&zd=".$v['Field']."&typeid=".I('request.typeid')."")}"  class='layui-btn layui-btn-xs'>修改</a>
								<a href="{my:U(CONTROLLER_NAME.'/FieldDel',"zd=".$v['Field']."&typeid=".I('request.typeid')."")}" onclick='return confirm("您确定要删除模块么？")' class='layui-btn layui-btn-xs layui-btn-danger' title='删除'>删除</a>
								<?php }else{?>
								--
								<?php }?>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>
				<div class="page">
					{my$page}
				</div>
			</div>
		</div>
	</div>
</div>

	<include file="public/footer" />

</div>

</body>
</html>
