<include file='public/header' />

<body class="bg_fa">
    <style>
        html,body{ height: 100%; }
        </style>
   <div class="imain2 bcover" style="background-image: url(./images/cooG_bg.png);">
        <div class="wrap">
                <div class="h20"></div>
                <div class="wrap2">
                        <div class="cooGrasp">
                                <div class="i_tit3 tc">
                                    <h4 class="tit">Mr.Menu合作
                                    </h4>
                                    <p class="tip">
                                        請填寫以下表格，我們將在收到您的申請後立即回覆您
                                    </p>
                                </div>  
                                <div class="achieve">
                                    <div class="nr">
                                        <p class="p1">提交成功
                                        </p>
                                        <p class="p2">謝謝您的反饋，我們會盡快回復您~</p>
                                    </div>
                                    <div class="mandiv tc">
                                          <a href="index.php?m=&c=List&a=message&pid=18&ty=22&tty=0"> <input type="submit" value="返回
"  class="rd10 sbtn sbtn_green btn"></a>
                                    </div>
                                </div>
                        </div>
                        
                </div>
        </div>
   </div>
</body>
<!--own js-->
<link rel="stylesheet" href="css/animate.min.css" />
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="swiper/swiper5.js"></script>
<script type="text/javascript" src="swiper/swiper.animate.min.js"></script>
<script src="js/js.js"></script>

</html>