<include file='public/header' />

<body class="bg_fa">
    <style>
        html,body{ height: 100%; }
        </style>
   <div class="imain2 bcover" style="background-image: url(./images/cooG_bg.png);">
        <div class="wrap">
                <div class="h20"></div>
                <div class="wrap2">
                        <div class="cooGrasp">
                                <div class="i_tit3 tc">
                                    <h4 class="tit">Mr.Menu cooperation
                                    </h4>
                                    <p class="tip">
                                        Please fill in the form below and we will reply as soon as we receive your request
                                    </p>
                                </div>  
                                <div class="achieve">
                                    <div class="nr">
                                        <p class="p1">Submit successfully
                                        </p>
                                        <p class="p2">Thank you for your feedback, we will reply to you as soon as possible～</p>
                                    </div>
                                    <div class="mandiv tc">
                                          <a href="/List-message-pid-18-ty-22-tty-0.html"> <input type="submit" value="Back
"  class="rd10 sbtn sbtn_green btn"></a>
                                    </div>
                                </div>
                        </div>
                        
                </div>
        </div>
   </div>
</body>
<!--own js-->
<link rel="stylesheet" href="css/animate.min.css" />
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="swiper/swiper5.js"></script>
<script type="text/javascript" src="swiper/swiper.animate.min.js"></script>
<script src="js/js.js"></script>

</html>