<div class="layui-footer">
	<!-- 底部固定区域 -->
	&copy; <a href="../" target="_blank">{my:sys('sys_sitename')} 版权所有</a> - <a href="http://www.9-xin.com" target="_blank">技术支持:久鑫网络.</a>
 </div>
<script type="text/javascript" src="{my$Think.const.ADMIN_PUBLIC}/layui/layui.all.js?v=v2.4.5"></script>
<script type="text/javascript" src="{my$Think.const.ADMIN_PUBLIC}/js/comm.js?v=v1.3.6"></script>
<script type="text/javascript" src="{my$Think.const.ADMIN_PUBLIC}/js/mylayui.js?v=v1.3.5"></script>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
