<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>久鑫网络后台管理系统</title>
    <link rel="stylesheet" href="{my$Think.const.ADMIN_PUBLIC}/layui/css/layui.css?v=v2.3.0">
    <link rel="stylesheet" href="{my$Think.const.ADMIN_PUBLIC}/font-awesome/css/font-awesome.min.css?V4.7.0" type="text/css">
    <link rel="stylesheet" href="{my$Think.const.ADMIN_PUBLIC}/css/comm.css?v=v1.3.6">
    <link href="{my$Think.const.ADMIN_PUBLIC}/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{my$Think.const.ADMIN_PUBLIC}/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{my$Think.const.ADMIN_PUBLIC}/js/jquery.treetable.js"></script>
    <script type="text/javascript" src="{my$Think.const.ADMIN_PUBLIC}/js/checkform.js"></script>

</head>

<body class="layui-layout-body">
