<!--own js-->
<link rel="stylesheet" href="css/animate.min.css" />
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="swiper/swiper5.js"></script>
<script type="text/javascript" src="swiper/swiper.animate.min.js"></script>
<script src="js/js.js"></script>
<!--滚动数字-->
<!-- <script src="js/scrollnum.js"></script> -->
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.countup.min.js"></script>
<script type="text/javascript">
     $('.indexNum').countUp();
</script>
<!-- 视频弹窗 -->
<link rel="stylesheet" type="text/css" href="dist/magnific-popup.css">
<script src="dist/jquery.magnific-popup.js"></script>
<script type="text/jscript">
    $(document).ready(function() {
          $('.popupVideo1').magnificPopup({
               disableOn:false,
               type: 'iframe',
               mainClass: 'mfp-fade',
               removalDelay: 160,
               preloader: false,
               fixedContentPos: false
          });
     });
</script>
     <!--底部-->
     <!--pc footer-->
     <div class="footer" id="xz">
          <div class="f_t">
               <div class="wp">
                    <div class="fdown cle">
                         <h4 class="tit">Cliquez sur le bouton pour télécharger l’application de Mr. menu</h4>
                         <div class="nr">
                              <volist name=":get_news(23,32,0,0,'*',3)" id="v">
                              <a download="{my$v.file1}" href="{my$v.file1}"><img src="{my$v.img1}" alt="" class="tp rd6">
                                   <div class="hdownLay">
                                        <img src="{my$v.img2}" alt="" class="tp">
                                        <h4 class="tit2">Analyser le code à essayer</h4>
                                   </div>
                              </a>
                              </volist>
                         </div>
                    </div>
                    <div class="fnav">
                         <ul class="fnavul cle">
                              <volist name=":get_news(23,31,0,0,'*',3)" id="v">
                              <li>
                                   <h4 class="ftit b">{my$v.title}</h4>
                                   <div class="nr1">
                                        <!-- <p class="p1">Greedy Cat Japan株式会社</p>
                                        <p class="p1">Greedy Cat Japan株式会社</p>
                                        <p class="p1">Greedy Cat Japan株式会社</p>
                                        <p class="p1">Greedy Cat Japan株式会社</p> -->
                                        {my:get_2explode($v['introduce'])}
                                   </div>
                              </li>
                            </volist>
                              <li>
                                   <h4 class="ftit b">Assistance à la clientèle</h4>
                                   <div class="nr2">
                                        <volist name=":get_sort_list(18)" id='v'>
                                           <a href="{my:get_sort_url($v['pid'],$v['id'],0,$v['linkurl'])}">{my$v.catname}</a>

                                        </volist>
                                   </div>
                              </li>
                              <li>
                                   <h4 class="ftit"><img src="./images/icon/f_logo.png" alt="" class="tp"></h4>
                                   <div class="nr1">
                                        <p class="p1">Coopération:{my:sys('sys_gz')}</p>
                                        <p class="p1">Recrutement:{my:sys('sys_zp')}</p>
                                   </div>
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
          <div class="f_b">
               <div class="copyright tc">{my:sys('sys_copyright')}
                    <a href="http://beian.miit.gov.cn" style="margin-left:5px;color:#fff" target="_blank">{my:sys('sys_icp')}</a>
                    <a href="http://www.9-xin.com" style="margin-left:5px;color:#fff" target="_blank">Appui technique: réseau jiuxin</a>
               </div>
          </div>
     </div>
     <!--底部-->
          <div class="floatpart">
               <ul class="floatpartul">
                    <li class="gotop"><a href="javascript:;"><img src="./images/icon/side01.png" alt="" class="tp"></a></li>
                    <li ><a href="javascript:;" class="messbtn"><img src="./images/icon/side02.png" alt="" class="tp"></a>
                         <div class="messlay">
                                   <form class="hmform" method="post" action="index.php?m=Home&c=List&a=message"><h4 class="tit">Consultation en faveur de la cooperation
                                          </h4>
                                        <input type="hidden" name="typeid" value="5">
                                        <div class="item">
                                             <div class="attrmc">Nom
                                                            <i class="require">*</i></div>
                                             <div class="attrval"><input placeholder="Nom
" required oninvalid="setCustomValidity('Veuillez entrer le nom de contact correct')" oninput="setCustomValidity('')" type="text" name="username" id="username" class="text rd10">
                                                  <!-- <div class="msg"></div> -->
                                             </div>
                                        </div>
                                        <div class="item">
                                             <div class="attrmc">Coordonnées
                                                            <i class="require">*</i></div>
                                             <div class="attrval"><input placeholder="Coordonnées
" required oninvalid="setCustomValidity('Veuillez entrer les coordonnées')" oninput="setCustomValidity('')" type="number" name="tel" id="tel" class="text rd10">
                                                  <div class="msg"></div>
                                             </div>
                                        </div>
                                        <div class="item">
                                             <div class="attrmc">Pays
                                                            <i class="require">*</i></div>
                                             <div class="attrval">
                                                  <select name="guojia" id="guojia" class="selCountry rd10" >
                                                       <option value="China">China
                                                                   </option>
                                                       <option value="US">US
                                                                   </option>
                                                       <option value="UK">UK
                                                                   </option>
                                                       <option value="Germany">Germany
                                                                   </option>
                                                       <option value="Japan">Japan
                                                                   </option>
                                                       <option value="Spain">Spain</option>
                                                  </select>
                                             </div>
                                        </div>
                                        <div class="item">
                                             <div class="attrmc">Nom du restaurant
                                                            <i class="require">*</i></div>
                                             <div class="attrval"><input placeholder="Nom du restaurant
" required oninvalid="setCustomValidity('Veuillez entrer le nom du restaurant')" oninput="setCustomValidity('')" type="text" name="name" id="name" class="text rd10">
                                                  <!-- <div class="msg">Please enter the correct surname restaurant name</div> -->
                                             </div>
                                        </div>
                                        <div class="item">
                                             <div class="attrmc">Adresse du restaurant
                                                            <i class="require">*</i></div>
                                             <div class="attrval">
                                                  <textarea  class="textarea" name="add" required oninvalid="setCustomValidity('Veuillez entrer l’adresse du restaurant')" oninput="setCustomValidity('')" placeholder="Restaurant address
" id="add" cols="30" rows="10"></textarea>
                                                  <!-- <div class="msg">Please enter the correct Restaurant Address</div> -->
                                             </div>
                                        </div>
                                        <div class="item tj tc"><input class="sbtn rd40 btn sbtn_green hmformBtn" type="submit" value="Présenté
" /></div>
                                   </form>
                                   <script type="text/javascript">
                                        $('.hmformBtn').click(function(){
                                             tel = $('.hmform #tel');
                                             username=$('.hmform #username').val();
                                             var zz = /^[0-9][0-9][0-9]{4,10}$/;
                                             var dh=/^[0-9][0-9][0-9]{11}$/;
                                             if(tel.val() && username){
                                                  if (!(zz.test(tel.val()) || dh.test(tel.val()))) {
                                                    $('.hmform #tel').focus();
                                                    $('.hmform #tel').next('.msg').html('Le format de votre numéro de téléphone mobile est incorrect!');
                                                    return false;
                                                  }else{
                                                    $('.hmform #tel').next('.msg').html('');
                                                  }
                                             }
                                        });
                                        $('input[type="text"]').click(function(){
                                             $('.msg').html('');
                                        });
                                        $('.textarea').click(function(){
                                             $('.msg').html('');
                                        });
                                   </script>
                                   <!-- <div class="subAchieve">
                                        <h4 class="tit">Consultation for cooperation
                                                </h4>
                                        <div class="nr">
                                             <div class="tp"><i class="iconfont icon-jinakangbaoicons17"></i></div>
                                             <p class="p1">Submit successfully
                                                            <br>We will contact you soon
                                                            ～</p>
                                        </div>
                                        <div class="tj tc">
                                             <input class="sbtn rd40 btn sbtn_green subAchieveBtn" type="submit" value="Ok" />
                                        </div>
                                   </div> -->
                              </div>
                    </li>
                    <li class="codeBtn"><a href="javascript:;"><img src="./images/icon/side03.png" alt="" class="tp"></a>
                         <div class="codeLay">
                              <img src="{my:sys('sys_img9')}" alt="" class="tp">
                              <p class="tit">Mr. Menu numéro public
                                    </p>
                         </div>
                    </li>
                    <li class="codeBtn"><a href="javascript:;"><img src="./images/icon/side04.png" alt="" class="tp"></a>
                         <div class="codeLay">
                                   <img src="{my:sys('sys_img8')}" alt="" class="tp">
                                   <p class="tit">Mr. Menu weibo
                                          </p>
                              </div>
                    </li>
                    <li class="codeBtn"><a href="javascript:;"><img src="./images/icon/side05.png" alt="" class="tp"></a>
                         <div class="codeLay">
                                   <img src="{my:sys('sys_img7')}" alt="" class="tp">
                                   <p class="tit">Mr. Menu tremble
                                          </p>
                              </div>

               </ul>
          </div>
</body>
</html>