<?php
$PHP_SELF = isset($_SERVER['PHP_SELF']) ? $_SERVER['PHP_SELF'] : (isset($_SERVER['SCRIPT_NAME']) ? $_SERVER['SCRIPT_NAME'] : $_SERVER['ORIG_PATH_INFO']);
$PHP_URL=basename($PHP_SELF);

$id=I('request.id',0);
$pid=I('request.pid',0);
$ty=I('request.ty',0);
$tty=I('request.tty',0);
$ttty=I('request.ttty',0);

if($id){
 	$bd=M('news')->field("pid,ty,tty,ttty,title,seotitle,seokeywords,seodescription")->where("status=1 AND id={$id}")->find();
    if($bd){
        $id=$id;
        $case=$bd['pid'];
        $vpid=$bd['pid'];
        cookie('vpid',$vpid,62400);
        $vty=$bd['ty'];
        $vtty=$bd['tty'];
        $vttty=$bd['ttty'];

        $Title=$bd['title'];
        $Seotitle=$bd['seotitle'];
        $Seokeywords=$bd['seokeywords'];
        $Seodescription=$bd['seodescription'];
    }
}elseif($pid&&$id==0){
    //if($pid&&$ty)$zid=$ty;elseif($pid&&empty($zid)) $zid=$pid;
    if($ty) $zid=$ty; else $zid=get_nextid($pid);
    //if($ty) $zid=$ty; else $zid=$pid;
    $vtty=$tty;
    $vttty=$ttty;
    $bd=M('sort')->field("catname,seotitle,seokeywords,img1,seodescription")->where("status=1 AND id={$zid}")->find();
    if($bd){
        if($pid) $vpid=$pid;
        if($ty) $vty=$ty;else $vty=$zid;
        $banner_img=$bd['img1'];
        $Title=$bd['catname'];
        $Seotitle=$bd['seotitle'];
        $Seokeywords=$bd['seokeywords'];
        $Seodescription=$bd['seodescription'];
    }
    //print_r($bd);
}elseif($id==0){
    $vpid=0;
    $Seotitle=sys('sys_seotitle');
    $Seokeywords=sys('sys_seokeywords');
    $Seodescription=sys('sys_seodescription');
}
if($Custitle){
    $Seotitle=$Custitle;
}else{
    if($Title) $Seotitle="{$Title}_";elseif($Seotitle) $Seotitle="{$Seotitle}_";else $Seotitle="";
}
if(!$_SERVER['HTTP_REFERER']){
  $ipchaxun=ipchaxun(get_client_ip());
  $gj=array('中国','德国','西班牙','法国','意大利','日本','韩国');
  if(!in_array($ipchaxun['country'],$gj)){
    cookie('country',$ipchaxun['ip']);
    header('Location: https://www.mr-menu.com/en/');
    die;
  }else if($ipchaxun['country']=='德国'){
    cookie('country',$ipchaxun['ip']);
    header('Location: https://www.mr-menu.com/de/');
    die;
  }else if($ipchaxun['country']=='西班牙'){
    cookie('country',$ipchaxun['ip']);
    header('Location: https://www.mr-menu.com/Espanol/');
    die; 
  }else if($ipchaxun['country']=='法国'){
    cookie('country',$ipchaxun['ip']);
    header('Location: https://www.mr-menu.com/French/');
    die;
  }else if($ipchaxun['country']=='意大利'){
    cookie('country',$ipchaxun['ip']);
    header('Location: https://www.mr-menu.com/lt/');
    die;
  }else if($ipchaxun['country']=='日本'){
    cookie('country',$ipchaxun['ip']);
    header('Location: https://www.mr-menu.com/Japanese/');
    die;
  }else if($ipchaxun['country']=='韩国'){
    cookie('country',$ipchaxun['ip']);
    header('Location: https://www.mr-menu.com/Korean/');
    die;
  }
}
  

?>



<!doctype html>
<html>

<head>
     <meta charset="utf-8">
     <title>{my$Seotitle}_{my:sys('sys_sitename')}</title>
     <meta name="keywords" content="{my$Seokeywords}" />
     <meta name="description" content="{my$Seodescription}" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <meta name="msapplication-tap-highlight" content="no">
     <meta name="format-detection" content="telephone=no" />
     <link rel="shortcut icon" href="images/icon/favicon.ico">
     <link rel="stylesheet" href="css/cui.css" />
     <link rel="stylesheet" href="css/lib.css" />
     <link rel="stylesheet" href="font/iconfont.css" />
     <link rel="stylesheet" href="css/style.css" />
     <link rel="stylesheet" type="text/css" href="swiper/swiper5.css" />
     <link rel="stylesheet" href="css/style-rel.css" />
     <script src="js/jquery.js"></script>
     <script type="text/javascript" src="js/lib.js"></script>
     <script src="js/placeholderfriend.js"></script>
     <script src="js/lanjs.js"></script>
     <!--[if IE]>
    <script src="js/html5.js"></script>
    <script src="js/respond.js"></script>
<![endif]-->
</head>
<style type="text/css">
  #mask_layer{
    width:100%;
  }
</style>
<body>
     <if condition='$vpid eq 0 || $case eq 3'>
     <div class="ban_header">
          <div id="mainMenuBarAnchor"></div>
          <div id="mainMenuBar" class="header_nav">
      </if>

          <!--头部-->
          <if condition='$vpid eq 0 || $case eq 3'>
               <div id="mainMenuBarAnchor"></div>
              <header id="mainMenuBar" class="header">
          <else />
                <div id="mainMenuBarAnchor"></div>
              <header  id="mainMenuBar" class="header iheader">
          </if>
                  <div class="loarea">
                         <div class="wp clearfix">
                              <a class="logo" href="/"><img src="{my:sys('sys_img1')}" /></a>
                              <!--PC nav -->
                              <nav class="nav">
                                   <ul class="wp navul">
                                        <li><a <?php echo empty($vpid) ? 'class="act_nav"':''; ?> href="/">主页</a></li>
                                        <li><a href="javascript:;" <?php echo $vpid==3 ? 'class="act_nav"':''; ?> >{my:get_sort_zd(3)}<i class="iconfont icon-down2"></i></a>
                                             <div class="subnav">
                                                  <div class="nr">
                                                      <volist name=":get_sort_list(3)" id='v'>
                                                          <a href="{my:get_sort_url($v['pid'],$v['id'],0,$v['linkurl'])}">{my$v.catname}</a>
                                                     </volist>
                                                  </div>
                                        </li>
                                        <!-- <style type="text/css">
                                          .zj .nr a{
                                            width:100%;
                                          }
                                          .zj{
                                            width: 180px;
                                          }
                                          
                                        </style> -->
                                        <li><a href="javascript:;" <?php echo $vpid==18 ? 'class="act_nav"':''; ?><?php echo $vpid==35 ? 'class="act_nav"':''; ?>>关于我们<i class="iconfont icon-down2"></i></a>
                                             <div class="subnav">
                                                  <div class="nr">
                                                    <a href="index.php?m=&c=List&a=About&pid=35&ty=37&tty=0" >公司愿景</a>
                                                    <a href="index.php?m=&c=List&a=common&pid=18&ty=21&tty=0" >{my:get_sort_zd(21)}</a>
                                                    <a href="index.php?m=&c=List&a=message&pid=18&ty=22&tty=0" >关于合作</a>
                                                  </div>
                                             </div>
                                        </li>
                                   </ul>
                              </nav>
                              <!-- 语种选择 -->
                              <div class="chooseLan rd30">
                                   <div class="curLan">
                                        <img src="./images/icon/lan01.png" alt="" class="icon icon01">
                                        <img src="./images/icon/lan02.png" alt="" class="icon icon02">
                                        <span class="val ibvm">简体中文</span></div>
                                   <div class="lanLay">
                                        <ul class="lanul cle">
                                             <li><a href="/en/">English</a></li>
                                             <li><a href="/" >简体中文</a></li>
                                             <li><a href="/tr/" >繁體中文</a></li>
                                             <li><a href="/de/">Deutsch</a></li>
                                             <li><a href="/Espanol/">Español</a></li>
                                             <li><a href="/French/">Français</a></li>
                                             <li><a href="/Japanese/">日本語</a></li>
                                             <li><a href="/lt/">Italiano</a></li>
                                             <li><a href="/Korean/">한국어</a></li>
                                        </ul>
                                   </div>
                              </div>

                              <!--手机导航begin-->
                              <div class="menubtn fr">
                                   <i></i>
                                   <i></i>
                                   <i></i>
                              </div>
                              <div class="inav">
                                   <div class="wrap">
                                        <dl>
                                             <dt><a href="/">主页</a></dt>
                                        </dl>
                                        <dl>
                                             <dt><em class="inavbtn"></em><a href="javascript:;">{my:get_sort_zd(3)}</a></dt>
                                             <dd>
                                             <volist name=":get_sort_list(3)" id='v'>
                                                  <h6><a href="{my:get_sort_url($v['pid'],$v['id'],0,$v['linkurl'])}">{my$v.catname}</a></h6>
                                             </volist>
                                             </dd>
                                        </dl>
                                        <dl>
                                             <dt><em class="inavbtn"></em><a href="javascript:;">{my:get_sort_zd(43)}</a></dt>
                                             <dd>
                                             <h6><a href="index.php?m=&c=List&a=About&pid=35&ty=37&tty=0" >公司愿景</a></h6>
                                             <h6><a href="index.php?m=&c=List&a=common&pid=18&ty=21&tty=0" >{my:get_sort_zd(21)}</a></h6>
                                             <h6><a href="index.php?m=&c=List&a=message&pid=18&ty=22&tty=0" >关于合作</a></h6>
                                             </dd>
                                        </dl>
                                   </div>
                              </div>
                              <!--手机导航end-->
                         </div>
                    </div>
              </header>

               <!--头部-->
        <if condition='$vpid eq 0 || $case eq 3'>
          </div>
            <if condition='$case eq 3'>
                    <!--banner begin-->
                    <div class="i_banner">
                        <img src="{my:get_sort_zd($vty,'img2')}" alt="" class="tp">
                    </div>
                    <!--banner end-->
            <else />
                  <!--banner begin-->
          <div class="swiper-container banner">
               <div class="swiper-wrapper">
                 <volist name=":get_news(23,26,0,0,'*',5)" id="v">
                    <div class="swiper-slide">
                         <img src="{my$v.img1}" class="banimg" />
                         <div class="banIntro">
                              <div class="wp">
                                   <div class="des">
                                        <div class="nr"><img src="{my$v.img2}" alt="" class="tp"></div>
                                        <div class="mandiv">
                                          <!-- popupVideo1 -->
                                             <a href="{my:get_url($v['id'],'List','video')}" class=" sbtn_ban btn rd40">
                                                  <span class="val">了解Mr.Menu</span>
                                                  <span class="icon iconfont icon-play_go"></span>
                                             </a>
                                        </div>
                                   </div>
                                   <div class="tparea">
                                        <img src="{my$v.img3}" alt="" class="tp">
                                   </div>
                              </div>
                         </div>
                    </div>
                </volist>
               </div>
               <!-- 如果需要分页器 -->
               <div class="swiper-pagination"></div>
               <!-- 如果需要导航按钮 -->
               <div class="swiper-button-prev swiper-button-white"></div>
               <div class="swiper-button-next swiper-button-white"></div>
          </div>
          <div class="bannerBg"><img src="./images/icon/ban_shadow.png" alt="" class="tp"></div>
          <!--banner end-->
            </if>
     </div>
 </if>