<include file='public/header' />
    <!--main-->
    <div class="i_main mt20">
       <div class="wp">
            <h4 class="i_tit tc">{my:get_sort_zd($vty)}</h4>
            <div class="news mt20">
                <ul class="newsul cle">
                    <volist name=":get_news($vpid,$vty,0,0,'*',6)" id="v">
                        <li>
                            <a href="{my:get_url($v['id'])}">
                                <span class="tparea"><img alt="" class="tp" src="{my$v.img1}"></span>
                                <div class="des">
                                    <h4 class="tit">{my$v.title}</h4>
                                    <div class="time">{my:get_time($v['sendtime'],'Y-m-d')}</div>
                                    <p class="nr">{my:cutstr_html($v['content'],200)}</p>
                                </div>
                            </a>
                        </li>
                    </volist>
                </ul>
                <!-- turnpage -->
                <div class="turnpage">
                    
                    {my:get_news_fym(6,$vpid,$vty)}

                    <em class="go">To
                        <input type="text" name="page" value="<?php echo $_GET['p'] ? $_GET['p']:1;?>" class="num">page</em>
                    <input type="submit" class="tj fytj" value="OK
">
                </div>
                <script type="text/javascript">
                    $('.fytj').click(function(){
                        var page=$(':input[name="page"]').val();
                        // alert();
                        var sl=$('.turnpage .sl').size();
                        if(page>sl){
                            page=sl;
                        }
                        window.location.href='List-caselist.html?Home-List-caselist_html=&pid='+{my:$vpid}+'&ty='+{my:$vty}+'&tty='+{my:$vtty}+'&Home-List-caselist-pid-'+{my:$vpid}+'-ty-'+{my:$vty}+'-tty-'+{my:$vtty}+'_html=&p='+page;

                    });
                </script>
            </div>
       </div>
    </div>
    <!--i_main end-->

<include file='public/footer' />